<div class="onepagediv" id="login-form" style="padding-top: 10%;" ng-controller = "loginController">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="thumbnail" style="padding: 0 20px 20px 20px;">
                    <div class="panel-heading">
                        <center>
                            <br>
                        </center>
                        <h2><b>Hotel</b> Login</h2>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" ng-submit="login()">
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <input type="email" class="form-control" placeholder="Email" ng-model="user.email_id" data-parsley-minlength="6" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                </div>
                            </div>
                            <div class="form-group mb-md">
                                <div class="col-xs-12">
                                    <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group mb-n">
                            </div>
                            <div class="" style="padding-top: 10px;">
                                <div class="col-sm-12" style="padding-bottom: 10px;color:red;text-align:center;">{{api}}</div>
                                <div class="row">
                                    <a ng-href="/register" class="btn btn-default pull-left col-sm-4">Register</a>
                                    <button class="btn btn-success col-sm-6 col-sm-offset-2" id="submit" type="submit" ng-click="login()">Go to Dashboard</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
